.header-theme-selector {
  display: flex;
  align-items: center;
  div {
    display: flex;
    box-sizing: border-box;
    list-style-type: none;
    border: 1px solid $header_primary-medium;
    transition: all 0.25s;
    margin: 0 1em 0 0;
    font-size: $font-down-1;
    span {
      display: flex;
      padding: 0.15em 0.5em;
      cursor: pointer;
      &:hover {
        color: $quaternary;
        background: $quaternary-low;
      }
      &[data-id="#{$left-theme}"] {
        order: 1;
      }
      &[data-id="#{$right-theme}"] {
        order: 2;
      }
    }
    &.left {
      span[data-id="#{$left-theme}"] {
        color: $header_background;
        background: $quaternary;
        cursor: default;
      }
    }
    &.right {
      span[data-id="#{$right-theme}"] {
        background: $quaternary;
        color: $header_background;
        cursor: default;
      }
    }
  }
}
