.header-theme-selector {
  display: flex;
  align-items: center;
  div {
    display: flex;
    box-sizing: border-box;
    list-style-type: none;
    border: 1px solid var(--header_primary-medium);
    transition: all 0.25s;
    margin: 0 1em 0 0;
    font-size: $font-down-1;
    span {
      display: flex;
      padding: 0.15em 0.5em;
      cursor: pointer;
      &:hover {
        color: var(--quaternary);
        background: var(--quaternary-low);
      }
      &[data-id="#{$left-theme}"] {
        order: 1;
      }
      &[data-id="#{$right-theme}"] {
        order: 2;
      }
    }
    &.left {
      span[data-id="#{$left-theme}"] {
        color: var(--header_background);
        background: var(--quaternary);
        cursor: default;
      }
    }
    &.right {
      span[data-id="#{$right-theme}"] {
        background: var(--quaternary);
        color: var(--header_background);
        cursor: default;
      }
    }
  }
}
